html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background:grey;
}



 img {
    height: 680px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    

    background-color: #64072B;
    color: white;

    padding: 16px 24px;
} 

#aa{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    bottom: 0;
    background-color: #64072B;
    color: white;

    padding: 16px 24px;
}

div.a{
    margin:10px ;
}