html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background:grey;
}



 img {
    height: 680px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    

    background-color: #64072B;
    color: white;
    padding: 10px 10px;
    
} 

#aa{
 
}

p{
   /* Olá, seja bem vindo ao meu portfolio, aqui você vai ver um pouco sobre mim. Meu nome é Deyvid, atualmente tenho 16 anos, comecei a aprender desenvolvimento Web com 14 anos, Meus conhecimentos atuais são de Html, Css, Php, mysql, Javascript e Node.js, me sinto mais confiante com Node.js e Javascript. */

position: absolute;
width: 753px;
height: 837px;
left: 697px;
top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 50px;
line-height: 59px;

color: #000000;

 
}